<!-- <div fxLayout="row">
    <div fxFlex>
        <mat-form-field floatPlaceholder="always" class="full-w">
            <mat-select placeholder="Phone Number" [(ngModel)]="countryCode" (change)="changeCountry($event)" required>
                <mat-option *ngFor="let item of countryCodes" [value]="item.code">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex>
        <mat-form-field floatPlaceholder="always" class="full-w" fxFlexOffset="2">
            <label for="" class="phone-number-country-code">{{countryCode}}</label>
            <input matInput required [(ngModel)]="value" #phoneF="ngModel" class="operator_add_phoneNumber" [style.paddingLeft.px]="paddingLeft"
                (keydown)="checkInput($event)">
            <mat-error *ngIf="phoneF.errors && phoneF.errors.required">
                This field is required
            </mat-error>
        </mat-form-field>
    </div>
</div> -->

<div>day in year</div>