<div class="login_content p-b-10" fxLayout="column" fxLayoutAlign="start">
  <div class="login-title">
    <span>ES-NAVI SYSTEM</span>
  </div>
  <div class="reset_password_notify">
    <span class="color-1">Enter your new password. This page is only available for 30 minutes</span>
  </div>
  <div class="reset_password_notify">
    <div class="login_for_input">
      <mat-form-field floatPlaceholder="always" class="m-t-10">
        <input matInput readonly placeholder="Email" [(ngModel)]="user.email">
        <!-- <mat-hint class="color-error" align="start" *ngIf="isNotMatch"><strong>Confirm Password doesn't match</strong></mat-hint> -->
      </mat-form-field>
    </div>
    <div class="login_for_input">
      <mat-form-field floatPlaceholder="always">
        <input matInput placeholder="New Password" type="password" required [(ngModel)]="user.newPassword" class="login_password">
      </mat-form-field>
    </div>
    <div class="login_for_input">
      <mat-form-field floatPlaceholder="always">
        <input matInput placeholder="Confirm Password" type="password" required [(ngModel)]="user.confirmNewPassword" class="login_password">
      </mat-form-field>
    </div>
    <div class="login_for_input" fxLayout="row" fxLayoutAlign="end">
      <!-- <button class="red-btn" type="button" mat-button (click)="updatePassword()" [disabled]="!user.newPassword || !user.confirmNewPassword">Update</button> -->
      <button class="red-btn" type="button" mat-button (click)="updatePassword()" [disabled]="!user.newPassword || !user.confirmNewPassword">Update</button>
    </div>
  </div>
</div>