@import '~styles/styles';
@import '~styles/es-navi';

.schedule-list-header span {
  font-size: 30px;
}

.schedule-list{
  height: 100%;
  // height:calc(100% - 44px)
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

.schedule-list-container {
  overflow: hidden;
  height:calc(100% - 110px);
}